@use 'variables' as *;
@use "sass:color";

:root {
	--dp: 1rem;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#root,
main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0 calc(var(--dp) * 1);
	background: $bg-dark;
	color: $text-light-gray;
	font-family: "Inter", system-ui, sans-serif;
	line-height: 1.5;
}

main {
	max-width: 900px;
	margin: 0 auto;


	>header {
		margin-bottom: 1rem;
		border-bottom: calc(var(--dp) * 0.2) solid $jack-aqua;

		h1 {
			margin: calc(var(--dp) * 0.4) 0;
		}
	}

	section {
		header {
			p {
				color: $text-light-gray;
				font-size: calc(var(--dp) * 1);
				margin-bottom: calc(var(--dp) * 1.5);
				line-height: 1.5;
			}

			collapsible-fieldset {

				>div {
					margin-bottom: 1.5rem;

					label {
						display: block;
						font-weight: 600;
						margin-bottom: 0.5rem;
					}

					input[type="range"] {
						width: 100%;
						margin-bottom: 0.5rem;
					}

					.units {
						display: flex;
						gap: 1rem;
						font-weight: 400;

						input[type="radio"] {
							margin-right: 0.25rem;
						}
					}

					.strength-labels {
						display: flex;
						justify-content: space-between;
						font-size: 0.85rem;
						color: $text-light-gray;
						padding: 0 11px 0 22px;
					}
				}
			}
		}
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: $text-light-gray;
	font-size: calc(var(--dp) * 0.7);
	text-align: center;
	padding: 0.5rem 1rem;
	box-shadow: 0 -2px 6px $shadow-color;
	z-index: 1000;
	user-select: none;
}